body {
    background: rgb(248,249,253);
}

label {
    display: block;
}

input[type="checkbox"] {
    margin-right: 0.5rem;
}

fieldset {
    margin-bottom: 2rem;
}

.question {
    white-space: pre-line;
    margin-bottom: 1rem;
    font-weight: 700;
}

.explanation {
    display: none;
    white-space: pre-line;
    margin-top: 1rem;
    padding: 1rem 2rem;
    border: 2px solid var(--color-primary);
    background-color: var(--color-primary-light);
    border-radius: var(--border-radius-default);
}

.stats {
    display: flex;
    gap: 1rem;
}

.stat {
    border: 2px solid var(--border-color-default);
    padding: 0.5rem 1rem;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 25%;
    border-radius: var(--border-radius-default);
}

/* display explanation */
.highlight-answers .explanation {
    display: block;
}

/* correct answer */
.highlight-answers label:has([value="1"]) {
    background-color: lightgreen;
}

/* wrong answer */
.highlight-answers label:has(:not([value="1"]):checked) {
    background-color: pink;
}