/*:root {*/
/*    font-family: Inter, sans-serif;*/
/*    font-feature-settings: 'liga' 1, 'calt' 1; !* fix for Chrome *!*/
/*}*/
/*@supports (font-variation-settings: normal) {*/
/*    :root { font-family: InterVariable, sans-serif; }*/
/*}*/

:root {
    --border-width-default: 1px;
    --font-family-heading: 'IBM Plex Sans', sans-serif;
    border-top: 8px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, royalblue, hotpink, royalblue, turquoise);
}
.font-family-heading,
.button,
[type="button"] {
    font-family: var(--font-family-heading);
}

body {
    background: rgb(248,249,253);
}

.underscore {
    display: inline;
    background-image: linear-gradient(120deg, transparent, hsl(218.54deg, 79.19%, 66.08%, 0.3) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.5em;
    background-position: 0 100%;
}

label {
    display: block;
}

input[type="checkbox"] {
    margin-right: 0.5rem;
}

fieldset {
    margin-bottom: 2rem;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.question {
    white-space: pre-line;
    margin-bottom: 1rem;
    font-weight: 700;
}

legend {
    font-weight: 700;
}

.explanation {
    display: none;
    white-space: pre-line;
    margin-top: 1rem;
    padding: 1rem 2rem;
    border: 2px solid var(--color-primary);
    background-color: var(--color-primary-light);
    border-radius: var(--border-radius-default);
}

.stats {
    display: flex;
    gap: 1rem;
}

.stat {
    /*border: 2px solid var(--border-color-default);*/
    /*padding: 0.5rem 1rem;*/
    /*border-radius: var(--border-radius-default);*/
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 25%;
}

.stat-name {

}

.stat-value {

}

/* display explanation */
.highlight-answers .explanation {
    display: block;
}

/* correct answer */
.highlight-answers label:has([value="1"]) {
    background-color: lightgreen;
}

/* wrong answer */
.highlight-answers label:has(:not([value="1"]):checked) {
    background-color: pink;
}

.border-color-primary {
    border-color: var(--color-primary);
}

.bg-primary-highlight {
    background: var(--color-primary-light);
}

.border-radius-round {
    border-radius: 200px;
}

.bg-bubble {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    filter: blur(90px);
    background: radial-gradient(circle at 50% 50%, hsl(225 30% 50% / 1), transparent);
    opacity: 0.2;
    background-size: contain;
    z-index: -1;
}